<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
</head>
<body>

{% if request.user.is_authenticated %}
<p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<a href="{% url 'update_task' %}">Add task</a>

<form action="", method="GET">
    <input type="text" name="search-area", value="{{search_input}}">
    <input type="submit", value="Search">
</form>

<hr/>
<h5>Todo list</h5>
{% for task in tasks %}
    <div class="">
        {% if task.complete == True %}
            <del>{{task}}</del>
        {% else %}
            <span>{{task}}</span>
        {% endif %}
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
    </div>
{% endfor %}
</body>
</html>