<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
</head>
<body>
<form method="POST" action="/">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Create taask">

</form>
<h5>TOdo list qimociman gapin bormiii</h5>
{% for task in tasks %}
    <div class="">
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>

        {% if task.complete == True %}
            <del>{{task}}</del>
        {% else %}
            <span>{{task}}</span>
        {% endif %}
    </div>
{% endfor %}
</body>
</html>